#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* new stuf down here  */

.recipes-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.recipe-link {
  display: block;
  position: absolute;
  inset: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.recipe-card {
  background-color: black;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  cursor: pointer;
  transition: all 0.3s ease;
}

.recipe-card:hover {
  border-color: grey;
  background-color: grey;
}

.recipe-card h1 {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

.recipe-card img {
  width: 100%;
  max-width: 200px;

  height: auto;
  object-fit: cover;

  border-radius: 10px;
  margin-bottom: 15px;
  border: 2px solid white;
}

.recipe-card p {
  margin: 5px;
  font-size: 0.9em;
}

.recipe-card ul {
  text-align: left;
  width: 100%;
  padding-left: 20px;
  margin: 5px 0;
}

.recipe-card li {
  margin-bottom: 3px;
  font-size: 0.8em;
}

/*  detta gömmar kategori och tillagnings sätt, kolla Recipe.jsx  */
.recipe-card h3,
.recipe-card ol {
  display: none;
  display: none;
}

/* header nere (kan ändras senare)  */
.header-image {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto 2rem auto;
  display: block;
  border-radius: 10px;
}

.header-container {
  position: relative;
  margin-bottom: 2rem;
}

.searchBar-container {
  position: absolute;

  top: 40%;
  right: 14%;
}

/* responsive design till tablets eller ipads  */
@media (max-width: 1024px) {
  .recipes-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .recipe-card {
    padding: 20px;
    min-height: 350px;
  }

  .searchBar-container {
    position: static;
    margin-bottom: 1rem;
  }

  .root {
    padding: 1rem;
  }
}

/* responsive layout design till mobiler */
@media (max-width: 768px) {
  .recipes-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .searchBar-container {
    position: static;
    margin-bottom: 1rem;
  }

  .root {
    padding: 1rem;
  }
}
