.rating-form {
  display: flex;
  flex-direction: row;
}

.rating-unit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  height: 30px;
  margin: 2px;
  z-index: 1;
}

img.rating-icon {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1;
}

.rating-button {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: none;
  background: none;
  z-index: 2;
}
